<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Quiz</h1>
    <h3>Select Your quiz </h3>

    <form action="/quiz1" method="GET">
        <p>1. General Knowledge [cite: 2]</p>
        <button type="submit">Start Quiz!</button>
    </form>

    <hr> <div style="margin-top: 20px;">
        <p>Check the High Scores:</p>
        <a href="/leaderboard">
            <button type="button">View Leaderboard 🏆</button>
        </a>
    </div>
